/*body style*/
body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-display: #333333;
    margin: 0;
    padding: 0;
}
/*header*/
header {
    background-color: #333333
}

